<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Хуваарь</title>
    <link href="/vendor/bootstrap3/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/vendor/datepicker/css/datepicker.css" type="text/css" rel="stylesheet" />
    <link href="/css/calendar.css" type="text/css" rel="stylesheet" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>Хуваарь</h1>
      <div class="well">
        <form action="" method="post">
          <input type="text" class="form-control" placeholder="Арга хэмжээний нэр">
          <input type="text" class="form-control datepicker" placeholder="Хэднээс эхлэх">
          <input type="text" class="form-control datepicker" placeholder="Хэдэнд дуусах">
          <input type="submit" class="btn btn-primary" value="Нэмэх">
        </form>
      </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap3/js/bootstrap.min.js"></script>
    <script src="/vendor/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/js/admin.js"></script>
  </body>
</html>
